@charset "UTF-8";

@import 'utils/mixins';

.PostPriorityPicker {
    width: 324px;

    &__apply {
        @include button-small;
        @include primary-button;
    }

    &__cancel {
        @include button-small;
        @include tertiary-button;
    }
}
.md{
    // display: inline-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    padding-left: 7px;
    background: transparent;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2px;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: height 0.25s ease;
    transition: height 0.25s ease;
}